.footer{
    position: absolute;
    z-index: 3;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: black;
    background: transparent;
    bottom: 0;
    margin: 2rem;
    
}