.parallax_layer3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    .bg_black{
        grid-area: 1 / 1 / span 1 /span 6;
        background-color:  rgb(27, 27, 27);
        
    }
    .video{
        grid-area: 1/1/span 1/span 6;
        padding-top: 4rem;
        padding-bottom: 5rem;
       
    }
}

$breakpoint-tablet: 1024px;
@media (max-width: $breakpoint-tablet) {
    .parallax_layer3{
        .video{
            padding-top: 2rem;
            padding-bottom: 2rem; 
        }
    }
}

$breakpoint-phone: 1024px;
@media (max-width: $breakpoint-phone) {
    .parallax_layer3{
        .video{
            padding-top: 0rem;
            padding-bottom: 0rem; 
        }
    }
}



